<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="libgdxBuilder"
         name="Libgdx Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="libgdxplugin.builder.LibgdxBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="libgdxNature"
         name="Libgdx Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="libgdxplugin.builder.LibgdxNature">
         </run>
      </runtime>
      <builder
            id="LibgdxPlugin.libgdxBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            name="Libgdx Project Nature commands"
            id="LibgdxPlugin.libgdxNature.category">
      </category>
      <command
            name="Add/RemoveLibgdx Project Nature"
            defaultHandler="libgdxplugin.builder.AddRemoveLibgdxNatureHandler"
            categoryId="LibgdxPlugin.libgdxNature.category"
            id="LibgdxPlugin.addRemoveLibgdxNature">
      </command>
      <category
            name="Sample Category"
            id="LibgdxPlugin.commands.category">
      </category>
      <command
            name="Sample Command"
            categoryId="LibgdxPlugin.commands.category"
            id="LibgdxPlugin.commands.sampleCommand">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
         <command
               commandId="LibgdxPlugin.addRemoveLibgdxNature"
               label="Disable Sample builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <test
                              value="LibgdxPlugin.libgdxNature"
                              property="org.eclipse.core.resources.projectNature">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="LibgdxPlugin.addRemoveLibgdxNature"
               label="Enable Sample builder"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <count
                        value="1">
                  </count>
                  <iterate>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <not>
                           <test
                                 value="LibgdxPlugin.libgdxNature"
                                 property="org.eclipse.core.resources.projectNature">
                           </test>
                        </not>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="Sample Menu"
               mnemonic="M"
               id="LibgdxPlugin.menus.sampleMenu">
            <command
                  commandId="LibgdxPlugin.commands.sampleCommand"
                  mnemonic="S"
                  id="LibgdxPlugin.menus.sampleCommand">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="LibgdxPlugin.toolbars.sampleToolbar">
            <command
                  commandId="LibgdxPlugin.commands.sampleCommand"
                  icon="icons/sample.gif"
                  tooltip="Say hello world"
                  id="LibgdxPlugin.toolbars.sampleCommand">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            name="Libgdx Navigator"
            icon="icons/sample.gif"
            class="org.eclipse.ui.navigator.CommonNavigator"
            id="libgdxplugin.navigator">
      </view>
      <category
            name="Libgdx Category"
            id="LibgdxPlugin">
      </category>
      <view
            name="Libgdx View"
            icon="icons/sample.gif"
            category="LibgdxPlugin"
            class="libgdxplugin.views.LibgdxView"
            id="libgdxplugin.views.LibgdxView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewerActionBinding
            viewerId="libgdxplugin.navigator">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
      <viewerContentBinding
            viewerId="libgdxplugin.navigator">
         <includes>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.navigator.ProjectExplorer"
               relationship="stack"
               id="libgdxplugin.navigator">
         </view>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="libgdxplugin.views.LibgdxView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            adaptable="true"
            label="Read-only Decorator"
            class="libgdxplugin.decorators.ReadOnly"
            state="true"
            id="libgdxplugin.decorators.ReadOnly">
         <enablement>
            <and>
               <objectClass
                     name="org.eclipse.core.resources.IResource">
               </objectClass>
               <or>
                  <objectClass
                        name="org.eclipse.core.resources.IFolder">
                  </objectClass>
                  <objectClass
                        name="org.eclipse.core.resources.IFile">
                  </objectClass>
               </or>
            </and>
         </enablement>
      </decorator>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="LibgdxPlugin.commands.sampleCommand"
            class="libgdxplugin.handlers.LibgdxHandler">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="LibgdxPlugin.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+6"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="Sample Action Set"
            visible="true"
            id="LibgdxPlugin.actionSet">
         <menu
               label="Sample &amp;Menu"
               id="sampleMenu">
            <separator
                  name="sampleGroup">
            </separator>
         </menu>
         <action
               label="&amp;Sample Action"
               icon="icons/sample.gif"
               class="libgdxplugin.actions.LibgdxAction"
               tooltip="Hello, Eclipse world"
               menubarPath="sampleMenu/sampleGroup"
               toolbarPath="sampleGroup"
               id="libgdxplugin.actions.LibgdxAction">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="testToc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            name="Libgdx "
            id="libgdxplugin.importWizards.sampleCategory">
      </category>
      <wizard
            name="Import Libgdx project"
            icon="icons/sample.gif"
            category="libgdxplugin.importWizards.sampleCategory"
            class="libgdxplugin.importWizards.ImportWizard"
            id="libgdxplugin.importWizards.ImportWizard">
         <description>
            Import a file from the local file system into the workspace.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Visual Editor"
            extensions="mpe"
            icon="icons/sample.gif"
            contributorClass="libgdxplugin.editors.VisualEditorContributor"
            class="libgdxplugin.editors.VisualEditor"
            id="libgdxplugin.editors.VisualEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Libgdx Wizards"
            id="LibgdxPlugin">
      </category>
      <wizard
            name="Libgdx project"
            icon="icons/sample.gif"
            category="LibgdxPlugin"
            class="libgdxplugin.wizards.LibgdxNewWizard"
            id="libgdxplugin.wizards.LibgdxNewWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Release Engineering"
            icon="icons/releng_gears.gif"
            class="libgdxplugin.perspectives.RelEngPerspective"
            id="libgdxplugin.perspectives.RelEngPerspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="LibgdxPlugin.contribution1">
         <menu
               label="Libgdx Submenu"
               path="additions"
               id="LibgdxPlugin.menu1">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Libgdx Action"
               class="libgdxplugin.popup.actions.LibgdxAction"
               menubarPath="LibgdxPlugin.menu1/group1"
               enablesFor="1"
               id="LibgdxPlugin.newAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Libgdx Preferences"
            class="libgdxplugin.preferences.LibgdxPreferencePage"
            id="libgdxplugin.preferences.LibgdxPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="libgdxplugin.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            name="Libgdx Page"
            nameFilter="*.*"
            class="libgdxplugin.properties.LibgdxPropertyPage"
            id="libgdxplugin.properties.samplePropertyPage">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="libgdxplugin.splashHandlers.InteractiveSplashHandler"
            id="libgdxplugin.splashHandlers.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            splashId="libgdxplugin.splashHandlers.interactive"
            productId="org.eclipse.epp.package.jee.product">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
